@inherits LayoutComponentBase

<PageTitle>KakaoMapTest</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/jkwchunjae/KakaoMap.Blazor" target="_blank">GitHub</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

